<section id="home" class="hero">

  <h1>Nama Padmaraji</h1>

  <h2>Full Stack Developer</h2>

  <p>
    Enthusiastic Full Stack Developer with a strong interest in learning
    and building modern web applications. Currently expanding my skills in
    Angular, TypeScript, Bootstrap, CSS, JavaScript, Python, and SQL while
    working on real-world projects to improve my development expertise.
  </p>


  <button>View Projects</button>
  <div class="social-icons">
  <a href="https://github.com/padmarajinama-png" target="_blank">
   <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png"
         alt="GitHub">
       GitHub
    </a>

    <a href="https://www.linkedin.com/in/nama-padmaraji-b36240390/" target="_blank">
        <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png"
         alt="LinkedIn">
       LinkedIn
    </a>

    
  </div>

</section>