<section id="skills" class="skills">
  <h2>My Skills</h2>

  <div class="skills-container">

   <div class="skill-card">
  <h3>HTML</h3>
  <p>Creating structured and semantic web pages.</p>
</div>
<div class="skill-card">
  <h3>CSS</h3>
  <p>Styling web pages with responsive layouts, animations, and modern UI design.</p>
</div>

   

    <div class="skill-card">
      <h3>JavaScript</h3>
      <p>Interactive and dynamic websites.</p>
    </div>
     <div class="skill-card">
      <h3>TypeScript</h3>
        <p>Creating dynamic and efficient Angular applications.</p>
    </div>

    <div class="skill-card">
      <h3>Bootstrap</h3>
      <p>Responsive UI development.</p>
    </div>

    <div class="skill-card">
      <h3>Python</h3>
      <p>Programming and problem solving.</p>
    </div>


  </div>

